.total-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.showBand{
    display: grid;
    grid-gap:4px;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content:center;
    margin-left: 100px;
    margin-top: 10px;
   
   
}
.showInfo h2{
    margin:15px;
   
}
.showInfo{
    border-left:2px dashed black;
}